.thumbnail {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.thumbnail img {
    height: 100%;
    width: 100%;
}
.clickable {
    cursor: pointer;
}

.clickable:hover {
    opacity: 0.8;
}
