.navigation {
    background-color: #192a56;
    width: 100%;
    padding: 10px;
    color: #fff;
}

.navigation .navigation-content {
    display: flex;
    padding: 5px;
    align-items: center;
    padding-left: 12%;
}

.navigation .navigation-content p {
    margin: 0 10px;
    font-style: italic;
    font-size: 30px;
}

.navigation .navigation-content a {
    color: #fff;
}
