/* *Font for heroImage h1 and p and load more button*/
@import url("https://fonts.googleapis.com/css?family=Lobster|PT+Sans+Narrow|Slabo+27px");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(to right, #141e30, #243b55);
}
